In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# KPI - Identifying & Understanding KPIs

In [33]:
customer_demo = pd.read_csv('data/07_user_demographics.csv')
customer_demo.head()

        uid     reg_date device gender country  age
0  54030035  42914.70833    and      M     USA   19
1  72574201  43163.66667    iOS      F     TUR   22
2  64187558  42406.66667    iOS      M     USA   16
3  92513925  42879.70833    and      M     BRA   41
4  99231338  42819.70833    iOS      M     FRA   59

In [35]:
customer_sub = pd.read_csv('data/07_user_demographic_paywall.csv')
customer_sub.head()

        uid     reg_date device gender country  age
0  52774929  43165.66667    and      F     FRA   27
1  40143397  42552.70833    and      F     DEU   56
2  89856430  42890.70833    and      M     TUR   31
3  76188504  42636.70833    iOS      M     BRA   54
4  76493748  42892.70833    iOS      M     BRA   24

In [38]:
sub_data_demo = customer_sub.merge(customer_demo, how = 'inner', on = ['uid'])
sub_data_demo.shape

(1, 11)